.eachItemWrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.eachItem{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    margin-top: 3vh;
    margin-bottom: 3vh;
    width:20vw;

    background-color: rgba(255, 255, 255, 0.801);
    color: black;
    border: none;
}

.titleImage{
    cursor: pointer;
}
.titleImage img{
    height:11vh;
    width: 6vw;
}

.placeOrderWrapper{
    position: sticky;
    bottom: 3vh;
    margin-left: 82%;
    margin-right: 2%;
    background-color:transparent;
    padding: 2vh;
}
.placeOrderButton{
    margin-left: 10%;
    margin-bottom: 3vh;
}
.MdOutline{
    cursor: pointer;
}

.emptyCartMessage{
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width:1000px) {
    .eachItem{
        background-color: rgba(255, 255, 255, 0.801);
        color: black;
        margin-top: 3vh;
        margin-bottom: 3vh;
        width:70%;
    }
    .titleImage img{
        height:11vh;
        width: 25vw;
    }
    .placeOrderWrapper{
        position: relative;
        bottom: 0vh;
        margin:0;
    }
}