body{
    text-align: center;
    height:100vh;
    width: 100vw;
}
.userInfo{
    height: auto;
    width:15%;
    margin:auto;
    padding: 2vh;
    margin-bottom: 5vh;
    background-color: transparent;
    border: 1px solid gray;
    box-shadow: rgb(241, 241, 241) 0px 0px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.orderHistoryContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.orderHistoryContainer, .eachOrderHistory{
    background-color: transparent;
    line-height: 2;
    width: 100vw;
    box-shadow: rgb(241, 241, 241) 0px 0px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.eachOrderHistory{
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 3vh;
    width: 40vw;
}

.totalBill{
    font-weight: bolder;
}

table, th, td{
    padding: 20px;
    border-top: 1px groove rgb(185, 176, 176);
    border-bottom: 1px groove rgb(185, 176, 176);
    border-collapse: collapse;
}