body{
    text-align: center;
    height:98vh;
    width: 98vw;
}
.userInfo{
    height: auto;
    width:15%;
    margin:auto;
    padding: 2vh;
    margin-bottom: 5vh;
    background-color: transparent;
    border: 1px solid gray;
    box-shadow: rgb(241, 241, 241) 0px 0px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.orderHistoryContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

.orderHistoryContainer, .eachOrderHistory{
    background-color: transparent;
    line-height: 2;
    width: 100%;
    box-shadow: rgb(231, 11, 11) 0px 0px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.eachOrderHistory{
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 3vh;
    width: 40vw;
    border: 1px solid maroon;
}

.totalBill{
    font-weight: bolder;
    padding-left: 10vw;
}

table, th, td{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px groove rgb(185, 176, 176);
    border-bottom: 1px groove rgb(185, 176, 176);
    border-collapse: collapse;
}
tr{
    background-image: linear-gradient(to right, black, rgb(48, 46, 46), black);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
td{
    text-align: center;
}

@media only screen and (max-width:1000px){
    .userInfo{
        width:80vw;
    }
    .orderHistoryContainer, .eachOrderHistory{
        width: 96vw;
        margin: auto;
        margin-right: 3vw;
    }
    .orderHistoryContainer{
        box-shadow: none;
    }
    table, th, td{
        font-size: small;
        padding-right: 10px;
    }
}