.productsSection{
    width: 100vw;
    height: 100vh;
    margin-top: 5vh;
    margin-bottom: 15vh;

    display: flex;
    flex-flow: row wrap ;
    justify-content: center;

}
.eachProduct{
    width: 25%;
    height: auto;
    margin-bottom:3%;
    margin-right: 3%;
    padding: 0.5%;
    text-align: center;
    font-size: large;
    cursor: pointer;

    background-color: white;
    color: gray;
    border-radius: 1.2vw;
    border: none;
    box-shadow: none;

}

.eachProduct:hover{
    background-color: gray;
    color: white;
    border: 1px solid silver;
}

.eachProduct img{
    height: 20vh;
    width: 10vw;
}

.slct {
    position: relative;
    left:87vw;
    width: 10vw;
    height: 4vh;
    overflow:hidden;
    opacity: 0.8;
}

select {
    background: grey;
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
    border-radius: 1vh;
}

