.productsSection{
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 15vh;

    display: flex;
    flex-flow: row wrap ;
    justify-content: center;

}
.eachProduct{
    width: 20vw;
    height: 35vh;
    margin: 2%;
    padding: 0.5%;
    text-align: center;
    font-size: large;
    cursor: pointer;

    background-color: transparent;
    border: none;
    box-shadow: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.innerCard{
    width: 18vw;
    height: auto;
    background-color: white;
    color: gray;
    border-radius: 1.2vw;
}
.innerCard:hover{
    width: 20vw;
    height: 35vh;
    background-color: gray;
    color: white;
    border: 1px solid silver;
}

.eachProduct img{
    height: 150px;
    width: 150px;
}
