.header {
    width: 100vw;
    height: 8vh;
    background-color: gray;
    box-shadow: 0 1px 4px rgba(4, 84, 204, 0.952);
    margin-bottom: 5vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position:sticky;
    top:0.5vh;
    padding-bottom: 1vh;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    color: white;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:1.9vh;
}

.header li {
    margin: 1.3vw;
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header input{
    font: inherit;
    height: 3vh;
    width: 10vw;
    border: 1px solid silver;
    background-color: gray;
    color: white;
    border-radius: 6px;
    position: relative;
    top: -0.5vh;
}

input:hover,input:focus{
    background-color: white;
    color:gray;
}

.header button{
    font: inherit;

    border: 1px solid lightgreen;
    color: white;
    font-weight: bold;
    height:3vh;
    width:4vw;
    margin-left:0.5vw;
    border-radius: 6px;
    cursor: pointer;
}

.header a:hover {
    color: #8d14dd;
}

.header button:hover {
    background-color: #c291e2;
    color: #38015c;
}
::placeholder{
    color:silver;
    text-align: center;
}

.searchIcon{
    cursor: pointer;
    margin-left: 2vw;
    position: relative;
    top: 0.8vh;
}

li:hover{
    color: #c291e2;
}

.profileText, .cartText, .loginText, .logoutText{
    position: relative;
    top:2vh;
    left:-1.8vw;
    font-size: medium;
}

.cartText, .loginText{
    left:-1.5vw;
}